
@import url('/core/style/layout/layout.css');
:host {
	--accordion-border-color: var(--pluto-border-color);
	--accordion-border-radius: var(--pluto-border-radius);
	--accordion-button-color: var(--pluto-text-color);
	--accordion-button-bg: var(--pluto-bg-light);
	--accordion-button-active-color: var(--pluto-primary-color);
	--accordion-button-active-bg: #e7f1ff;
	--accordion-button-focus-border-color: #86b7fe;
	--accordion-button-focus-box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
	--accordion-icon-color: var(--accordion-button-color);
	--accordion-icon-active-color: var(--accordion-button-active-color);
	--accordion-icon-width: 1.25rem;
	--accordion-icon-transform: rotate(-180deg);
}

.accordion-item {
	border: 1px solid var(--accordion-border-color);
	margin-bottom: -1px;
}

:host(:first-of-type) {
	border-top-left-radius: var(--accordion-border-radius);
	border-top-right-radius: var(--accordion-border-radius);
}

:host(:last-of-type) {
	border-bottom-left-radius: var(--accordion-border-radius);
	border-bottom-right-radius: var(--accordion-border-radius);
	margin-bottom: 0;
}

.accordion-button {
	position: relative;
	display: flex;
	align-items: center;
	width: 100%;
	padding: var(--pluto-padding) calc(var(--pluto-padding) * 1.25);
	font-size: 1rem;
	color: var(--accordion-button-color);
	text-align: left;
	background-color: var(--accordion-button-bg);
	border: 0;
	border-radius: 0;
	overflow-anchor: none;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
		border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
	cursor: pointer;
}

.accordion-button:not(.collapsed) {
	color: var(--accordion-button-active-color);
	background-color: var(--accordion-button-active-bg);
	box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.125);
}
.accordion-button::after {
	flex-shrink: 0;
	width: var(--accordion-icon-width);
	height: var(--accordion-icon-width);
	margin-left: auto;
	content: "";
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='var(--accordion-icon-color)'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
	background-repeat: no-repeat;
	background-size: var(--accordion-icon-width);
	transition: transform 0.2s ease-in-out;
}

.accordion-button.collapsed::after {
	transform: rotate(0deg);
}

.accordion-button:not(.collapsed)::after {
	transform: var(--accordion-icon-transform);
}

.accordion-collapse {
	overflow: hidden;
	max-height: 0;
	transition: max-height 0.35s ease-in-out;
}

.accordion-collapse.show {
	max-height: var(--max-height);
}

.accordion-body {
	padding: 1rem 1.25rem;
}
