button {
	padding: 0.5rem 0.75rem;
	border: 1px solid var(--pluto-border-color);
	border-radius: var(--pluto-border-radius);
	background-color: var(--pluto-bg-light);
	color: var(--pluto-text-color);
	cursor: pointer;
	transition: background-color 0.2s, border-color 0.2s, color 0.2s;
	font-size: 0.9rem;
	text-align: center;
	vertical-align: middle;
	user-select: none;
}

button:hover {
	background-color: var(--pluto-bg-dark);
}


button:disabled {
	background-color: var(--pluto-bg-dark);
	cursor: not-allowed;
	color: var(--pluto-text-color-dark);
	opacity: 0.65;
}


button.primary {
	background-color: var(--pluto-primary-color);
	border-color: var(--pluto-primary-color);
	color: var(--pluto-text-color-light);
}

button.primary:hover {
	background-color: var(--pluto-primary-color-dark);
	border-color: var(--pluto-primary-color-dark);
}


button.secondary {
	background-color: var(--pluto-secondary-color);
	border-color: var(--pluto-secondary-color);
	color: var(--pluto-text-color-light);
}

button.secondary:hover {
	background-color: var(--pluto-secondary-color-dark);
	border-color: var(--pluto-secondary-color-dark);
}

button.success {
	background-color: var(--pluto-success-color);
	border-color: var(--pluto-success-color);
	color: var(--pluto-text-color-light);
}
button.success:hover {
	background-color: var(--pluto-success-color-dark);
	border-color: var(--pluto-success-color-dark);
}

button.danger {
	background-color: var(--pluto-danger-color);
	border-color: var(--pluto-danger-color);
	color: var(--pluto-text-color-light);
}
button.danger:hover {
	background-color: var(--pluto-danger-color-dark);
	border-color: var(--pluto-danger-color-dark);
}
