/* core/assets/css/components/chart.css */

pluto-component {
	position: relative;
	height: 300px;
	background-color: var(--pluto-bg-light);
	border: 1px solid var(--pluto-border-color);
	border-radius: var(--pluto-border-radius);
	display: flex;
	padding: var(--pluto-padding);
}

.pluto-chart-empty {
	padding: var(--pluto-padding);
	text-align: center;
	color: var(--pluto-text-color);
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

canvas {
	max-width: 100%;
}
