{% extends '../layout.html' %}

{% block title %}Ana Sayfa{% endblock %}

{% block content %}

	Example User Page<br>


	{# 
	    Bu çok satırlı bir yorumdur.
	    Kullanıcı listesini döngüye almadan önce bir not bırakmak için ideal.
	    Bu yorumlar son HTML çıktısında yer almayacak.
	#}

	{% each $users as $user %}
	<div>
		<form action="/user/update" method="post">
			<input type="hidden" name="id" value="{{$user->id}}"><br>
			<b>Name:</b>
			<input type="text" value="{{$user->name}}" name="name"><br>
			<b>Email:</b>
			<input type="text" value="{{$user->email}}" name="email"><br>
			<b>Password:</b>
			<input type="text" value="{{$user->password}}" name="password"><br>
			<input type="submit" value="Update">
			<button type="button" data-id="updateWithApi">Update with API</button>
		</form>
	</div>
	{% endeach %}


{% endblock %}
