/* core/assets/css/components/spinner.css */

:host {
	border: 2px solid var(--pluto-border-color);
	border-radius: 50%;
	animation: spin 0.8s linear infinite;
	width:var(--size,32px);
	height: var(--size,32px);
	display: inline-block;
	border-top-color: var(--pluto-primary-color);
}

@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}
